.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

.hidden {
  display: none;
}

.lhs {
  float: left;
}

.rhs {
  float: right;
}

html
{
  height: 100%;
  width: 100%;

  font-size: 62.5%;
}

body
{
  height: 100%;
  width: 100%;

  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #000000;

  background-color: #878787;
}

h1
{
  font-family: "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
  line-height: 1em;
  margin: 0 0 1em 0;
  color: #FFFFFF;
  text-shadow: 1px 1px 0px #777777;
}

#the-form {
  display: table;
  height: 100%;
  width: 100%;
}

#top
{
  display: table-row;
}

#bottom
{
  display: table-row;
  padding: 20px;
}

#editors
{
  display: table-cell;
  vertical-align: top;
  height: 100%;

  padding: 0 18px;
}

.editor-cont
{
  display: block;
  width: 50%;
  height: 100%;
  float: left;
}

.editor
{
  margin: 0 2px;

  border-radius: 0 0 3px 3px;
  height: 100%;

  border-top: 0;
  background-color: #F7F7F7;

  position: relative;
}

.editor-codepad
{
  position: absolute;
  top: 45px;
  width: 100%;
  bottom: 0;
  overflow: auto;
}

.editor-codepad.dummy {
  display: none;
}

.editor-mode
{
  background-color: #FFFFFF;
  border-bottom: 1px solid #DDDDDD;
}

.editor-mode ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
  margin: 5px 5px -1px 5px;
}

.editor-mode ul li
{
  float: left;
  display: block;
  padding: 8px 15px 10px 15px;
  background-color: #EFEFEF;
  margin-left: 1px;
  border-top: 2px solid #DDDDDD;
  font-weight: bold;
  margin-bottom: 1px;
  cursor: pointer;
}

.editor-mode ul li:first-child
{
  border-radius: 3px 0 0 0;
}

.editor-mode ul li.active
{
  border-color: #8DE2A5;
  border-right: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-bottom: 1px solid #F7F7F7;
  margin-bottom: 0;
  background-color: #F7F7F7;
  border-radius: 3px 3px 0 0;
}

.editor-mode ul li:last-child
{
  border-radius: 0 3px 0 0;
}

#config
{
  display: table-cell;
  width: 210px;
  padding: 20px;

  background-color: #515151;
}

#controls_main
{
  display: table-cell;
  text-align: left;
  padding: 20px 20px 20px 20px;
  margin: 0;
}

#controls_main h1
{
  color: #EFEFEF;
  text-shadow: 1px 1px 0px #000000;
  font-family: 'Englebert', sans-serif;
  font-weight: normal;
  font-size: 3em;
  line-height: 1.2em;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: baseline;
}

#controls_main h2
{
  color: #CCCCCC;
  text-shadow: 1px 1px 0px #000000;
  font-family: 'Satisfy', sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.2em;
  padding: 0;
  margin: 0 0 0 0.1em;
  display: inline-block;
  vertical-align: baseline;
}

div#controls_config
{
  display: table-cell;
  text-align: right;
  width: 250px;
  padding: 10px 20px 10px 20px;

  background-color: #515151;
}

button
{
  margin: 0 0 0 5px;
  padding: 12px 20px;
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;

}

button#publish_btn
{
  background: #F9F15A;
  color: #5B5A4D;
  border: 1px solid #FFEC00;
}

button#run_btn
{
  background: #FFF78F;
  border: 1px solid #F9F15A;
  color: #5B5A4D;
}

button#collapse_btn
{
  background: #8DE2A5;
  border: 1px solid #66DD85;
  color: #2C6D3D;
}

.CodeMirror
{
  font-size: 1.4em !important;
  line-height: 1.286em !important;
  border-radius: 0 0 6px 6px;
}

ol#libraries
{
  list-style: none;
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: inherit;
  font-weight: normal;
}

ol#libraries li
{
  padding: 0.5em 0.5em 0.5em 1em;
  background-color: #FFFFFF;
  margin-bottom: 1px;
  position: relative;
}

ol#libraries li.with-dependencies .dep-wrap
{
  padding-top: 0.5em;
  background: #FFFFFF url('../img/ret/dep_trail_end.png') no-repeat -2px top;
  background-size: 10px 15px;
}

ol#libraries li:hover
{
  cursor: move;
}

ol#libraries li:first-child
{
  border-radius: 3px 3px 0 0;
}

ol#libraries li:last-child
{
  border-radius: 0 0 3px 3px;
}

ol#libraries li em
{
  vertical-align: baseline;
}

ol#libraries li div.delete
{
  width: 24px;
  height: 100%;
  left: -24px;
  top: 0;
  background-color: #f67b6e;
  position: absolute;
  text-align: center;
  border-radius: 3px 0 0 3px;
  line-height: 2.5em;
}

ol#libraries li div.delete img
{
  vertical-align: text-bottom;
}

ol#libraries li div.refcol
{
  display: inline-block;
  height: 1em;
  width: 1em;
  border-radius: 2px;
  margin-left: -0.5em;
  margin-right: 0.5em;
  vertical-align: middle;
}

ol#libraries li ul.dependsOn
{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 1em;
}

ol#libraries li ul.dependsOn li
{
  display: inline-block;
  height: 0.8em;
  width: 0.8em;
  background-color: #FF0000;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  margin-right: 2px;
}

ol#libraries li span
{
  float: right;
  margin: -0.3em -0.3em -0.3em 10px;
  font-size: 0.834em;
  line-height: 1.6em;
  background-color: #DDDDDD;
  padding: 0.4em 6px;
  border-radius: 2px;
}

ol#libraries li .dependencies
{
  margin: -0.6em -0.6em 0 -1.2em;
  padding: 0.5em 1em 0 1em;
  font-size: 0.834em;
  line-height: 1.6em;
  background: #DDDDDD url('../img/ret/dep_arr.png') no-repeat center bottom;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{
  ol#libraries li .dependencies
  {
    background-size: 10px 10px;
  }
}

ol#libraries li .dependencies em
{
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  text-align: center;
  color: #999999;
  border-bottom: 1px solid #999999;
  margin: 0 -1em 0 -1em;
  padding-bottom: 0.5em;
}

ol#libraries li .dependencies ol
{
  list-style: none;
  padding: 0;
  margin: 0;
}

ol#libraries li .dependencies ol li
{
  padding: 3px 8px 3px 15px;
  margin: 0;
  background: transparent url('../img/ret/dep_trail_mid.png') no-repeat left center;
  background-size: 10px 30px;
}

ol#libraries li .dependencies ol li:first-child
{
  background: transparent url('../img/ret/dep_trail.png') no-repeat left 10px;
  background-size: 10px 30px;
}


ol#libraries li .dependencies ol li:last-child
{
  padding-bottom: 8px;
}

button#addlib_btn
{
  background: #8DE2A5;
  border: 1px solid #66DD85;
  color: #2C6D3D;
  float: right;
  margin: 0;
}


#config section
{
  margin-bottom: 3em;
}

.abc
{
  float: left;
  position: relative;
  top: 7px;
}

.xyz
{
  text-align: right;
}

#render
{
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
}
